requests==2.31.0
PyJWT==2.8.0
cryptography==41.0.7
https://lf3-static.bytednsdoc.com/obj/eden-cn/lmeh7phbozvhoz/base-open-sdk/baseopensdk-0.0.13-py3-none-any.whl
python-dotenv==1.0.0
Flask==2.3.3
Flask-CORS==4.0.0
gunicorn==21.2.0
werkzeug==2.3.7
urllib3==2.0.7
charset-normalizer==3.3.2
idna==3.4
certifi==2023.7.22